@model SevenEleven.Inventory.Mvc.Models.StockAdjustment

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StockAdjustment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified_by)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified_by)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock_Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
