
@model IEnumerable<Inventory_mvc_seven_eleven.Dao.ItemView>

@{
    ViewData["Title"] = "Index";
    @* ViewData["available"] = "AVAILABLE";
    ViewData["not_available"] = "NOT-AVAILABLE"; *@
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Name
            </th>
            <th>
                Description
            </th>
            <th>
                Status
            </th>
            <th>
               Date
            </th>
            <th>
                Created User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.Description)
            </td>
            <td>
                @if(item.item.Status==1){
                    <span class="text-success">AVAILABLE</span>
                    
                }else{
                     <span class="text-danger">NOT-AVAILABLE</span>
                    
                }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.FirstName)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.item.Id">Edit</a> |
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.item.Id">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
